# too lazy to get my ghidra project out of there
*.gpr
*.lock
*.rep
.venv*
assets
build
thirdparty/*
resources/custom.exe
resources/th07.exe
reccmp-user.yml
reccmp-build.yml
scripts/__pycache__/
compile_commands.json
src/th07/i18n.hpp
src/custom/i18n.hpp

android/.gradle
android/.idea
android/local.properties
android/app/.cxx
android/app/src/main/res/mipmap-mdpi/ic_launcher.png
